@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans';
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff) format('woff');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  outline: none;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(189, 189, 189);
} /* color값은 디자인가이드에 맞게사용 */
a {
  color: rgb(189, 189, 189);
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

#tistorytoolbarid {
  display: none;
}

/* 검색하기폼*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 레이아웃잡기 */
#container {
  background: #181818;
  min-width: 1200px;
}
#header {
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  background: #050035;
}
#contentWrap {
  width: 1200px;
  margin: 10px auto;
}
#contentWrap:after {
  display: block;
  clear: both;
  content: '';
}
#content {
  width: 900px;
  float: right;
}
#sidebar {
  width: 280px;
  float: left;
  background: #252525;
}
#footer {
  padding: 20px;
  border-top: 1px solid #a5a5a5;
  background: #000000;
}

/* header */
.global-wrap {
  width: 1200px;
  margin: 0 auto;
}
.global-wrap:after {
  display: block;
  clear: both;
  content: '';
}
.blog-title {
  top: 50%;
  left: 10px;
  float: left;
  transform: translateY(-50%); /* 세로 중앙 정렬 */
}
.header-nav {
  float: right;
  transform: translateY(-50%); /* 세로 중앙 정렬 */
}
.header-nav li {
  display: inline-block;
  margin-left: 15px;
}
.header-nav li button {
  vertical-align: top;
}
.header-nav li div {
  position: relative;
}
.header-nav li input.search-input {
  position: absolute;
  right: 30px;
  top: -4px;
  width: 105px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* sidebar */ /* sidebar */
#sidebar div {
  margin-bottom: 10px;
  padding: 10px;
  background: #3d3d3d;
  border: 1px solid #686868;
}
.category {
}
.category .tt_category {
}
.category .tt_category .link_tt {
  display: none;
}
.category .tt_category .c_cnt {
  color: #fffc49;
  font-size: 0.85em;
  isplay: none;
}
.category .tt_category img {
}
.category .tt_category ul.category_list {
  margin: 10px 0 0 4px;
}
.category .tt_category ul.category_list li {
  list-style: circle inside;
}
.category .tt_category ul.category_list li a {
}
.category .tt_category ul.category_list li ul.sub_category_list {
  margin: 0 0 10px 26px;
}
.category .tt_category ul.category_list li ul.sub_category_list li {
  list-style: none;
}
.category .tt_category ul.category_list li ul.sub_category_list li a {
  font-size: 0.95em;
  color: #777;
}
